html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-weight: bold;
}

.overviews {
    display: flex;
    flex-direction: column; 
    gap: 20px;
}
#header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    color: #000;
}

.general_header {
    display: flex;

    gap: 60px;
}

.logo a {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    color: #000;
    text-decoration: none;
}

.col {
    padding: 16px 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav li {
    align-items: center;
    margin-right: 40px; 
    justify-content: space-between;
}

nav a {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.content_left_header {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 345px;
}

.wrap_input_header {
    display: flex;
    gap: 10px;
    width: 280px;
    padding: 10px 12px;
    border-radius: 12px; 
    background-color: #efefef;
}

input {
    width: 100%;
    height: 100%;
  
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  
    outline: none;
    border: none;
    background-color: unset;
  
    color: #000000;
}
  
input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  
    color: #000000;
}
  
input:focus {
    outline: none;
}

.btn_login_header {
    color: #ffffff;
    background-color: #ff6e30;  
    font-size: 16px;
    font-weight: 600;
    line-height: 22px; 
    border: none;
    border-radius: 12px;  
    padding: 10px 16px; 
    cursor: pointer;
}
  

.box span {
    margin-left: 480px;
    background-repeat: no-repeat;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.box input {
    float: right;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    width: 280px;
    height: 25px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 60px;
    background-position: center;
 
}

button {
    transition: all 0.3s ease-out;
    cursor: pointer;
    border: none;
}
  
button:hover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow: hidden;
}
.col {
    border: 1px solid #5c5b5b;
    border-radius: 20px;
    height: fit-content;
}

.col img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: fill;
}
 
.place-img {
    width: 100%;
}

.place-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
} 

.place-body-outside {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.place-heading {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    color: #000000; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btnStep { display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    background-color: #ff6e30;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

#footer {
    line-height: 11px;
    color: #626060;
}
 
.icon_left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.iconEnd {
    display: flex;
    align-items: center;
    gap: 40px;
}

#content {
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#content .picture {
    position: absolute;
    left: 60px;
    bottom: 160px;
    width: 444px;
}

#content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content .slider {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#content .slider .text-heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: #ffffff;
}

#content .slider .text-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px; 
    color: #ffffff;
}

.central_container {
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text_container {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    margin-left: 20px;
    font-size: 15px;
    background-color: #fff;
} 

.place_body_ouside {
    display: flex;
  flex-direction: column;

  gap: 8px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.place-desc {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #626060;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btnStep {
    border-radius: 20px;
    padding: 10px;  
    background-color: #ff6e30;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

#footer {
    display: flex;
    flex-direction: column; 
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px #0000000f; 
    gap: 10px; 
    padding: 10px 40px;
}

.footer_opening {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_opening_logo p {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
}


.footer_menu {
    display: flex;
    float: right;
    align-items: center;
   
}

.footer_menu ul {
    display: flex;
    gap: 40px;
}

.footer_menu li {
    list-style-type: none;
}
.footer_menu a {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;    
    color: #000;
}


.final {
    border: 1px solid #8b8b8b;
}

.endPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font p {
    font-size: 8px;
    font-weight: 400;
    line-height: 11px;
    color: #626060;
}
  
#footer nav li:first-child {
    margin-left: 0;
}

.font {
    opacity: 0.5;
}

.iconEnd {
    float: right;
}









